/deep/ .mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
  margin: 2px 0px 2px 0px;
}

/deep/ .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header.mat-expanded:hover, .mat-expansion-panel-header.mat-expanded:focus {
  background-color: rgb(194, 45, 45);
  height: 40px;
}

.mat-expansion-panel-header samp {
  margin-left: 5px;
  color: rgb(194, 13, 13);
  font-weight: bold;
}

.mat-expansion-panel-header.mat-expanded samp {
  color: white !important;
}

.mat-expansion-panel-header.mat-expanded mat-icon {
  color: white !important;
}
