<div class="gallery-wrapper">
  <div class="image-wrapper">
    <a href="documents#ifullfill-usecase">
      <img src="assets/ifullfill-usecase.png" alt="" />
      <div class="image-title">Use Case Diagram</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="documents#ifullfill-erd_v1.2">
      <img src="assets/ifullfill-erd_v1.2.jpg" alt="" />
      <div class="image-title">Database ERD</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="documents#ifullfill-architecture">
      <img src="assets/ifullfill-architecture.jpg" alt="" />
      <div class="image-title">Technology Stack & Architecture</div>
    </a>
  </div>  <div class="image-wrapper">
    <a href="documents#microService-architecture">
      <img src="assets/microServiceArchitecture.png" alt="" />
      <div class="image-title">MicroService Architecture</div>
    </a>
  </div>
</div>
<div class="gallery-lightboxes">
  <div class="image-lightbox" id="ifullfill-usecase">
    <div class="image-lightbox-wrapper">
      <a href="documents#" class="close"></a>
      <a href="documents#ifullfill-architecture" class="arrow-left"></a>
      <a href="documents#ifullfill-erd_v1.2" class="arrow-right"></a>
      <img src="assets/ifullfill-usecase.png" alt="" />
      <div class="image-title">Use Case Diagram</div>
    </div>
  </div>

  <div class="image-lightbox" id="ifullfill-erd_v1.2">
    <div class="image-lightbox-wrapper">
      <a href="documents#" class="close"></a>
      <a href="documents#ifullfill-usecase" class="arrow-left"></a>
      <a href="documents#ifullfill-architecture" class="arrow-right"></a>
      <img src="assets/ifullfill-erd_v1.2.jpg" alt="" />
      <div class="image-title">Database ERD</div>
    </div>
  </div>

  <div class="image-lightbox" id="ifullfill-architecture">
    <div class="image-lightbox-wrapper">
      <a href="documents#" class="close"></a>
      <a href="documents#ifullfill-erd_v1.2" class="arrow-left"></a>
      <a href="documents#microService-architecture" class="arrow-right"></a>
      <img src="assets/ifullfill-architecture.jpg" alt="" />
      <div class="image-title">Technology Stack & Architecture</div>
    </div>
  </div>

  <div class="image-lightbox" id="microService-architecture">
    <div class="image-lightbox-wrapper">
      <a href="documents#" class="close"></a>
      <a href="documents#ifullfill-architecture" class="arrow-left"></a>
      <a href="documents#ifullfill-usecase" class="arrow-right"></a>
      <img src="assets/microServiceArchitecture.png" alt="" />
      <div class="image-title">Microserivce Architecture</div>
    </div>
  </div>
</div>
