<div class="container-div">
  <div>
    <mat-card class="example-card" id="card1" #card1 name="card1">
      <mat-card-header>
        <!-- <div mat-card-avatar class="added-image"></div> -->
        <mat-card-title style="margin: 8px 0px 0px -10px"
          >Summary 1</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <!-- <mat-spinner class="spinner-container" *ngIf="!isRecentlyOpenedLaoded"></mat-spinner>
        <mat-list *ngIf="RecentlyOpened?.length > 0">
          <div
            *ngFor="
              let item of RecentlyOpened;
              let i = index;
              first as isFirst;
              last as isLast
            "
          >
            <mat-list-item
              style="
                min-height: 50px !important;
                vertical-align: middle;
                padding-top: 8px !important;
              "
            >
              <div style="display: flex; flex-direction: column">
                <div style="width: 100%">
                  <a (click)="openNewDialog(item)"> {{ item?.title }}</a>
                </div>

                <div style="width: 100%">
                  <small>{{ item.reported_by }}, &nbsp;</small>

                  <small>{{ item.reported_at | date: "M/dd/yy h:mm a" }}</small>
                </div>
              </div>
            </mat-list-item>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </div>
        </mat-list>
        <div
          *ngIf="
            isRecentlyOpenedLaoded &&
            (!RecentlyOpened || RecentlyOpened?.length < 1)
          "
          class="Info"
        >
          <span>There is no issue(s) has been posted recently . </span>
        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="closed-image"></div> -->
        <mat-card-title style="margin: 8px 0px 0px -10px"
          >Summary 2</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <!-- <mat-spinner class="spinner-container" *ngIf="!isRecentlyClosedLaoded"></mat-spinner>
        <mat-list *ngIf="RecentlyClosed?.length > 0">
          <div *ngFor="let item of RecentlyClosed">
            <mat-list-item
              style="
                min-height: 50px !important;
                vertical-align: middle;
                padding-top: 8px !important;
              "
            >
              <div style="display: flex; flex-direction: column">
                <div style="width: 100%">
                  <a (click)="openNewDialog(item)"> {{ item?.title }}</a>
                </div>

                <div style="width: 100%">
                  <small>{{ item.reported_by }}, &nbsp;</small>

                  <small>{{ item.reported_at | date: "M/dd/yy h:mm a" }}</small>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
        <div
          *ngIf="
            isRecentlyClosedLaoded &&
            (!RecentlyClosed || RecentlyClosed?.length < 1)
          "
          class="Info"
        >
          <span>There is no issue(s) has been closed recently . </span>
        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card" id="card4" #card4 name="card4">
      <mat-card-header>
        <!-- <div mat-card-avatar class="assigned-image"></div> -->
        <mat-card-title style="margin: 8px 0px 0px -10px"
          > Summary 3</mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <!-- <mat-spinner class="spinner-container" *ngIf=" !isAssignedIssuesLaoded"></mat-spinner>
        <mat-list *ngIf="AssignedIssues?.length > 0">
          <div
            *ngFor="
              let item of AssignedIssues;
              let i = index;
              first as isFirst;
              last as isLast
            "
          >
            <mat-list-item
              style="
                min-height: 50px !important;
                vertical-align: middle;
                padding-top: 8px !important;
              "
            >
              <div style="display: flex; flex-direction: column">
                <div style="width: 100%">
                  <a (click)="openNewDialog(item)"> {{ item?.title }}</a>
                </div>

                <div style="width: 100%">
                  <small>{{ item.reported_by }}, &nbsp;</small>

                  <small>{{ item.reported_at | date: "M/dd/yy h:mm a" }}</small>
                </div>
              </div>
            </mat-list-item>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </div>
        </mat-list>
        <div
          *ngIf="
            isAssignedIssuesLaoded &&
            (!AssignedIssues || AssignedIssues?.length < 1)
          "
          class="Warn"
        >
          <span *ngIf="userServ.isLoggedIn()"
            >There is no issues pending on you .</span
          >
          <span *ngIf="!userServ.isLoggedIn()"
            >Please SignIn to see the content .
          </span>
        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card">
      <mat-card-header style="display: flex; vertical-align: middle">
        <!-- <span mat-card-avatar class="statistics-image"> </span> -->
        <mat-card-title style="margin: 8px 0px 0px -10px">
          Summary 4</mat-card-title
        >

        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image src="../../../assets/InFML.png" alt="Charts" /> -->

      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>
