<div class="flex-container ">

  <div class="bar-holder">
    <form class="search-bar">
      <mat-form-field style="width: 350px; height: 72px">
        <mat-label class="search-lbl">Search for Seats
          <mat-icon class="search">search</mat-icon>
        </mat-label>
        <input (keyup)="applyFilter($event.target.value)" name="search" matInput>
      </mat-form-field>
    </form>
  </div>

  <span class="spacer"></span>

  <div class="filter-buttons">
    <button mat-raised-button class="filter-button" color="accent">Sort By Location</button>
    <button mat-raised-button class="filter-button" color="accent">Sort By Availability</button>
    <button mat-raised-button class="filter-button" color="accent">Sort By Cost</button>
  </div>



</div>



<div class="flex-container">
    <mat-card class="flex-child"  *ngFor="let seat of currentItemsToShow">

      <mat-card-header>

        <mat-card-title class="card-title">
          Seat # {{seat.seatId}}
        </mat-card-title>

      </mat-card-header>

      <hr class="header-line">

      <mat-card-content>
        <div class="card-header-parent">
          <div
            class="card-header">Availability
          </div>
          <div class="separator">:</div>
          <span [ngClass] = "{'open' : seat.availabilityStatus == 'Open',
                            'closed' : seat.availabilityStatus == 'Closed'}">
                            {{ seat.availabilityStatus}}
          </span>
        </div>

        <div class="card-header-parent">
          <div class="card-header"> Location </div>
          <div class="separator">:</div>
          <span class="card-header-content">{{seat.seatLocation}}</span>
        </div>

        <div class="card-header-parent">
          <div class="card-header">Seat Cost </div>
          <div class="separator">:</div>
          <span class="card-header-content">{{seat.cost | currency}}</span>
        </div>

      </mat-card-content>
    </mat-card>
  <mat-paginator
    #paginator
    (page)="onPageChange($event)"
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 9, 18, 36]">
  </mat-paginator>
</div>
