body {
  margin: 0;
  padding: 0;
  font-family: sans—serif, serif;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-child{
  flex: 0 0 28%;
  margin: 5px;
}

.card-title{
  margin-left: -15px;
}

.header-line{
  margin-bottom: 15px;
}

.card-header-parent{
  display: flex;
}
.card-header{
  width: 85px;
  font-weight: bold;
  font-size: 16px;
}

.card-header-content{
  font-weight: bold;
  font-size: 16px;
}

.separator{
  font-weight: bold;
  font-size: 16px;
  width: 15px;
}

.closed{
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.open{
  font-weight: bold;
  color : green;
  font-size: 16px;
}

mat-paginator{
  border-radius: 5px;
  width: 95%;
  margin: 5px;
}


.bar-holder{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.search-lbl{
  color: darkred;
  font-size: 16px;
  background-color: transparent;
}

.search{
  color: darkred;
  margin-left: 10px;
}

.filter-buttons{
  margin-top: 15px;
  margin-right: 20px;
}

.spacer{
  flex: 1 1 auto;
}

.filter-button{
  margin: 2px;
}
