<div class="sign-up-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" action="submit">
    <img src="../../../assets/user-logo.png" />
    <h1>Sign Up</h1>
    <div>
      <input
        #txtfname
        type="text"
        formControlName="fname"
        placeholder="First Name"
        class="input-box"
        required
        minlength="3"
      />

      <div
        *ngIf="
          f.fname.invalid &&
          f.fname.touched &&
          (f.fname.errors || f.username.dirty)
        "
        class="alert-danger"
      >
        <div *ngIf="f.fname.errors.required">User First Name is required.</div>
        <div *ngIf="f.fname.errors.minlength">
         First Name must be at least 3 characters long.
        </div>
      </div>
      <input
      #txtlname
      type="text"
      formControlName="lname"
      placeholder="Last Name"
      class="input-box"
      required
      minlength="3"
    />

    <div
      *ngIf="
        f.lname.invalid &&
        f.lname.touched &&
        (f.lname.errors || f.lname.dirty)
      "
      class="alert-danger"
    >
      <div *ngIf="f.lname.errors.required">User Last Name is required.</div>
      <div *ngIf="f.lname.errors.minlength">
        Last Name must be at least 3 characters long.
      </div>
    </div>
      <input
        #txtemail
        type="email"
        formControlName="email"
        placeholder="Email"
        class="input-box"
        required
        ngModel
        email="true"
      />

      <div
      *ngIf="
        f.email.invalid &&
        f.email.touched &&
        (f.email.errors || f.email.dirty)
      "
      class="alert-danger"
    >
        <div *ngIf="f.email.errors.required">Email is required.</div>
        <div *ngIf="f.email.invalid">Invalid Email Format.</div>
      </div>
      <input
        #txtpassword
        type="password"
        formControlName="password"
        placeholder="Password"
        class="input-box"
        required
        minlength="6"
      />

      <div
      *ngIf="
        f.password.invalid &&
        f.password.touched &&
        (f.password.errors || f.password.dirty)
      "
      class="alert-danger"
    >
        <div *ngIf="f.password.errors.required">Password is required.</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 characters long.
        </div>
      </div>
      <input
        #txtRepassword
        type="password"
        formControlName="repassword"
        placeholder="Confirm Password"
        class="input-box"
        required
      />

      <div
      *ngIf="
        f.repassword.invalid &&
        f.repassword.touched &&
        (f.repassword.errors || f.repassword.dirty)
      "
      class="alert-danger"
    >
        <div *ngIf="f.repassword.errors.required">
          Confirm Password is required.
        </div>
        <div *ngIf="f.repassword.errors.confirmedValidator">
          Password and Confirm Password must be match.
        </div>
      </div>
      <button type="submit" [disabled]="!registerForm.valid" class="signUp-btn">
        Sign Up
      </button>
      <hr />
      <p class="or">OR</p>
      <button type="submit" class="signIn-btn" routerLink="/login">
        Sign In
      </button>
    </div>
  </form>
</div>
