<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content> -->
<mat-toolbar color="primary">
  <span>
    <span><mat-icon class="user-icon">account_box</mat-icon></span>
    <span>
      Welcome
      <span style="color: rgb(245, 76, 76); margin-right: 50px">{{
        "WAEL DAWOUD"
      }}</span>
    </span>
  </span>

  <!-- <span id="user">
        Welcome,<span style="color: gold">{{ CurrentUser }}</span>
      </span> -->

  <span class="spacer"></span>

  <a
    mat-list-item
    routerLink="login"
    style="color: rgb(248, 47, 47); right: -4%; position: relative"
  >
    <span (click)="userServ.signOut()" *ngIf="userServ.isLoggedIn()"
      >SignOut</span
    >
    <span *ngIf="!userServ.isLoggedIn()">SignIn</span></a
  >

  <button
    mat-raised-button
    [ngClass]="{ hiddenLinks: (isHandset$ | async) === true }"
    class="app-info"
  ></button>
  <ng-content></ng-content>
</mat-toolbar>

<!-- </mat-sidenav-content>
</mat-sidenav-container> -->
