/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red-snackbar {
  background-color: rgba(248, 143, 157, 0.842);
  color: rgb(0, 0, 0);
}
.red-snackbar .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
  color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid rgb(122, 7, 26);
  border-radius: 2px;
  /* width: 40px !important; height: 40px !important; */
}
.red-snackbar:hover .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
  color: rgb(122, 7, 26);

  /* width: 40px !important; height: 40px !important; */
}
.blue-snackbar {
  background-color: rgba(33, 111, 212, 0.918);
}

.yellow-snackbar {
  background-color: rgba(230, 233, 70, 0.829);
  color: rgb(0, 0, 0);
}
.yellow-snackbar .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
  color: rgb(122, 7, 26);
  padding: 5px;
  border: 1px solid rgb(90, 84, 1);
  border-radius: 2px;

}
.yellow-snackbar:hover .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
 color: rgb(219, 2, 74);


  /* width: 40px !important; height: 40px !important; */
}
.green-snackbar {
  background-color: rgba(42, 151, 91, 0.89);
  color: #ffff
}

.green-snackbar .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
  color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid rgb(7, 122, 38);
  border-radius: 2px;
  /* width: 40px !important; height: 40px !important; */
}
.green-snackbar:hover .mat-button-wrapper {
  /* background-color: rgba(2, 2, 2, 0.918); */
  color: rgb(7, 122, 38);

  /* width: 40px !important; height: 40px !important; */
}
.mainDiv {
  display: flex;
  columns: 3;
  width: 100%;
}

.divCol25 {
  width: 25%;
}
.divCol50 {
  width: 50%;
}
.alert-danger {
  background-color: rgba(250, 136, 151, 0.781);
  color: rgb(99, 2, 2);
  text-align: start;
  margin: auto;
  padding: 2px 3px 2px 5px;
  width: 80%;
  border-radius: 7px;
}
.Warn  {
  background-color: rgba(229, 231, 104, 0.829);
  color: rgb(0, 0, 0);
  height: 50px;
  width: 80%;
  margin: 10%;
  text-align: center;
 padding-top: 30px;
 font-size: 16px;

}
.Info  {
  background-color: rgba(131, 185, 255, 0.925);
  color: rgba(3, 3, 22, 0.911);
  height: 50px;
  width: 80%;
  margin: 10%;
  text-align: center;
 padding-top: 30px;
 font-size: 16px;

}
